@import "variables.json";

// Orange/Brown
$harvest:               map-get($colors, harvest);

// Neutral
$gray:                  map-get($colors, gray);
$lightGray:             map-get($colors, lightGray);