/*

  Center:
  ------
    Center a box in the middle of it's parent container

  Possible Arguments:
  __________________
    $widthSize: in px\rem
    $widthProperty: in width|max-width|min-width

  Example:
  ________

  .something {
    @include center(max-width, 500px);
  }


  Renders:
  --------
      .something {
          margin-left: auto;
          margin-right: auto;
          max-width: 500px;
      }


//
-----------------------------------------------------*/
@mixin center($widthSize: 100px, $widthProperty: width) {
	margin-left: auto;
	margin-right: auto;
	$widthProperty: $widthSize;
}
