/*
  	Transitions
  	-----------
  		CSS transitions, which are part of the CSS3 set of specifications, provide a way
  		to control animation speed when changing CSS properties. Instead of having property
  		changes take effect immediately, you can cause the changes in a property to take
  		place over a period of time. For example, if you change the color of an element from
  		white to black, usually the change is instantaneous. With CSS transitions enabled,
  		changes occur at time intervals that follow an acceleration curve, all of which can
  		be customized.

	Single transitions
	------------------
		Can be accomplished using the transition mixin

	Example:
	--------
		Default:
		--------
			.something{
				@include transition();
			}

		Custom:
		-------
			.something{
				@include transition(color, .15s, ease-in-out, 0s);
			}

	Renders:
	--------
		Default:
		--------
			.something {
			  	-webkit-transition: all 0.15s ease 0;
			  	-ms-transition: all 0.15s ease 0;
			  	transition: all 0.15s ease 0;
			}
		Custom:
		-------
			.something {
			  	-webkit-transition: color 0.15s ease-in-out 0s;
			  	-ms-transition: color 0.15s ease-in-out 0s;
			  	transition: color 0.15s ease-in-out 0s;
			}


	Multiple transitions
	--------------------
		Can be accomplished using the multi-transition mixin

  	Example:
  	--------
	  	.something{
	  		@include multi-transition(color .15s ease-in-out 0s, background 3s ease-in 1s, border 3s ease 5s);
	  	}

  	Renders:
  	--------
		.something {
		  -webkit-transition: color 0.15s ease-in-out 0s, background 3s ease-in 1s, border 3s ease 5s;
		  -ms-transition: color 0.15s ease-in-out 0s, background 3s ease-in 1s, border 3s ease 5s;
		  transition: color 0.15s ease-in-out 0s, background 3s ease-in 1s, border 3s ease 5s;
		}

*/

@mixin transition($property: all, $time: 0.35s, $method: ease-in-out, $delay: 0s) {
	transition: $property $time $method $delay;
}

@mixin transition-delay($delay: 0s) {
	transition-delay: $delay;
}

@mixin multi-transition($transitions...) {
	transition: $transitions;
}
