/*
	Transform
	---------
		The CSS transform property lets you modify the coordinate space of the CSS
		visual formatting model. Using it, elements can be translated, rotated, scaled,
		and skewed according to the values set.

		If the property has a value different than none, a stacking context will be
		created. In that case the object will act as a containing block for position: fixed
		elements that it contains.

	Possible Arguments:
  	--------------------
		none | matrix(1.0, 2.0, 3.0, 4.0, 5.0, 6.0) | translate(12px, 50%)
		translateX(2em) | translateY(3in) | scale(2, 0.5) | scaleX(2)
		scaleY(0.5) | rotate(0.5turn) | skewX(30deg) | skewY(1.07rad)
		matrix3d(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0)
		translate3d(12px, 50%, 3em) | translateZ(2px) | scale3d(2.5, 1.2, 0.3)
		scaleZ(0.3) | rotate3d(1, 2.0, 3.0, 10deg) | rotateX(10deg) | rotateY(10deg)
		rotateZ(10deg) | perspective(17px)

	Example:
	--------
		.something{
			@include transform(rotate(90deg) skewY(20deg));
		}

	Renders:
	--------
		.something {
	  		-webkit-transform: rotate(90deg) skewY(20deg);
	  		transform: rotate(90deg) skewY(20deg);
		}

*/
@mixin transform($params, $origin: inherit, $gpu: true) {
	/* If $gpu is set to true */
	@if $gpu {
		/* and "translate3d" is not found within the $params */
		@if not str-index(#{$params}, "translate3d") {
			/* append "translate3d(0,0,0)" to $params to force hardware acceleration on the GPU */
			$params: str-insert(#{$params}, " translate3d(0,0,0)", str-length(#{$params}) + 1);
		}
	}
	/* create transform, and transform-origin */
	transform:$params;
	transform-origin: $origin;
}

@mixin transform-origin($origin: 50% 50% 0) {
	transform-origin: $origin;
}

@mixin transform-style($style: flat) {
	transform-style: $style;
}
